<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>

    <!-- start extra meta -->
    {{#each extrameta}}
    <meta name="{{{this.description}}}" content="{{{this.content}}}"></meta>
    {{/each}}
    <!-- end extra meta -->

    <!-- start extra CSS -->
    {{#each extracss}}
    <link rel="stylesheet" type="text/css" href="{{{this}}}"></link>
    {{/each}}
    <!-- end extra CSS -->

    <!-- start extra JavaScript -->
    {{#each extrascripts}}
    <script type="text/javascript" src="{{{this}}}"></script>
    {{/each}}
    <!-- end extra JavaScript -->

    <title>{{title}}</title>
  </head>

  <body>
    {{#if this.header}}
    <div class="header">
      <h1>joel h. w. weinberger</h1>
      <h3>{{this.header}}</h3>
    </div>
    {{/if}}

    {{#unless this.nocontent}}
    <div class="content">

    <!-- Begin page content here -->
    {{/unless}}

    {{{body}}}

    {{#unless this.nohomelink}}
    <div id="homelink"><a href="index">[home]</a></div>
    {{/unless}}

    {{#unless this.nocontent}}
    <!-- end page content here -->

    </div>
    {{/unless}}
  </body>

  <!-- begin Google Analytics -->
  <!-- script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-12698994-1");
    pageTracker._trackPageview();
  } catch(err) {}
  </script -->
  <!-- end Google Analytics -->
</html>
