<h5 class="index-papers-header">
  Refereed Publications
</h5>

<ul class="index-papers-list">
  <li class="index-text">
    <div id="pub6" class="paper"> <!-- pub div -->

    <div> <!-- paper info div -->
    <span class="paper-title">
      <a href="papers/2013/swamy-weinberger-schlesinger-chen-livshits.pdf">
      Verifying Higher-order Programs with the Dijkstra Monad
      </a>.
    </span>

    <span class="paper-authors">
      <a href="http://research.microsoft.com/en-us/people/nswamy/">Nikhil Swamy</a>,
      Joel Weinberger,
      <a href="http://www.cs.princeton.edu/~cschlesi/">Cole Schlesinger</a>,
      <a href="http://research.microsoft.com/en-us/people/juanchen/">Juan Chen</a>, and
      <a href="http://research.microsoft.com/en-us/um/people/livshits/">Ben Livshits</a>.
    </span>

    <span class="paper-conference">
      To Appear in Proc. of Programming Language Design and
      Implementation (PLDI), 2013.
    </span>
    </div> <!-- end paper info div -->

    <div> <!-- citation div -->
    <div id="pub6-bibtex-toggle" class="paper-bibtex-toggle">
      <a id="pub6-bibtex" href="bibtexs/pub6.html">[BibTeX]</a>
      <div id="pub6-bibtex-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('bibtex', 'pub6');
      </script>
    </div>
    </div> <!-- end citation div -->

    <div> <!-- abstract div -->
    <div class="paper-abstract">
      <a id="pub6-abstract" class="icon closed" href="abstracts/pub6.html">Abstract</a>
      <div id="pub6-abstract-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('abstract', 'pub6');
      </script>
    </div>
    </div> <!-- end abstract div -->

    </div> <!-- end pub div -->
  </li>

  <li class="index-text">
    <div id="pub5" class="paper"> <!-- pub div -->

    <div> <!-- paper info div -->
    <span class="paper-title">
      <a href="papers/2011/weinberger-saxena-akhawe-etc.pdf">
      A Systematic Analysis of XSS Sanitization in Web Application
      Frameworks</a>.
    </span>

    <span class="paper-authors">
      Joel Weinberger,
      <a href="http://www.eecs.berkeley.edu/~prateeks/">Prateek
      Saxena</a>,
      <a href="http://www.eecs.berkeley.edu/~devdatta/">Devdatta
      Akhawe</a>,
      <a href="http://www.eecs.berkeley.edu/~finifter/">Matthew
      Finifter</a>,
      Richard Shin, and
      <a href="http://www.eecs.berkeley.edu/~dawnsong/">Dawn Song</a>.
    </span>

    <span class="paper-conference">
      Proc. of 16th European Symposium on Research in
      Computer Security (ESORICS), 2011.
    </span>
    </div> <!-- end paper info div -->

    <div> <!-- citation div -->
    <div id="pub5-bibtex-toggle" class="paper-bibtex-toggle">
      <a id="pub5-bibtex" href="bibtexs/pub5.html">[BibTeX]</a>
      <div id="pub5-bibtex-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('bibtex', 'pub5');
      </script>
    </div>
    </div> <!-- end citation div -->

    <!-- presentation div -->
    <div class="paper-presentation">
      ESORICS presentation <a href="files/2011/weinberger-saxena-akhawe-etc presentation.pptx">slides</a> (with notes).
    </div>
    <!-- end presentation div -->

    <div> <!-- abstract div -->
    <div class="paper-abstract">
      <a id="pub5-abstract" class="icon closed" href="abstracts/pub5.html">Abstract</a>
      <div id="pub5-abstract-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('abstract', 'pub5');
      </script>
    </div>
    </div> <!-- end abstract div -->

    </div> <!-- end pub div -->
  </li>

  <li class="index-text">
    <div id="pub4" class="paper"> <!-- pub div -->

    <div> <!-- paper info div -->
    <span class="paper-title">
      <a href="papers/2011/weinberger-barth-song.pdf">
      Towards Client-side HTML Security Policies</a>.
    </span>

    <span class="paper-authors">
      Joel Weinberger,
      <a href="http://www.adambarth.com/">Adam Barth</a>, and
      <a href="http://www.eecs.berkeley.edu/~dawnsong/">Dawn Song</a>.
    </span>

    <span class="paper-conference">
      Proc. of the Workshop on Hot Topics in Security
      (HotSec), 2011.
    </span>
    </div> <!-- end paper info div -->

    <div> <!-- citation div -->
    <div id="pub4-bibtex-toggle" class="paper-bibtex-toggle">
      <a id="pub4-bibtex" href="bibtexs/pub4.html">[BibTeX]</a>
      <div id="pub4-bibtex-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('bibtex', 'pub4');
      </script>
    </div>
    </div> <!-- end citation div -->

    <!-- presentation div -->
    <div class="paper-presentation">
      HotSec presentation <a href="files/2011/weinberger-barth-song presentation.ppt">slides</a> (with notes).
    </div>

    <!-- end presentation div -->
    <div> <!-- abstract div -->
    <div class="paper-abstract">
      <a id="pub4-abstract" class="icon closed" href="abstracts/pub4.html">Abstract</a>
      <div id="pub4-abstract-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('abstract', 'pub4');
      </script>
    </div>
    </div> <!-- end abstract div -->

    </div> <!-- end pub div -->
  </li>

  <li class="index-text">
    <div id="pub3" class="paper"> <!-- pub div -->

    <div> <!-- paper info div -->
    <span class="paper-title">
    <a href="papers/2011/felt-finifter-weinberger-wagner.pdf">
    Diesel: Applying Privilege Separation to Database Access</a>.
    </span>

    <span class="paper-authors">
      <a href="http://www.eecs.berkeley.edu/~afelt/">Adrienne Felt</a>,
      <a href="http://www.eecs.berkeley.edu/~finifter/">Matthew
      Finifter</a>,
      Joel Weinberger, and
      <a href="http://www.eecs.berkeley.edu/~daw/">David Wagner</a>.
    </span>

    <span class="paper-conference">
      In Proc. of ACM Symposium on Information, Computer
      and Communications Security (ASIACCS), 2011.
    </span>
    </div> <!-- end paper info div -->

    <div> <!-- citation div -->
    <span class="paper-extended">
      <a href="papers/2010/felt-finifter-weinberger-wagner-tech.pdf">
        [Extended Version]
      </a>
    </span>
    <div id="pub3-bibtex-toggle" class="paper-bibtex-toggle">
      <a id="pub3-bibtex" href="bibtexs/pub3.html">[BibTeX]</a>
      <div id="pub3-bibtex-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('bibtex', 'pub3');
      </script>
    </div>
    </div> <!-- end citation div -->

    <div> <!-- abstract div -->
    <div class="paper-abstract">
      <a id="pub3-abstract" class="icon closed" href="abstracts/pub3.html">Abstract</a>
      <div id="pub3-abstract-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('abstract', 'pub3');
      </script>
    </div>
    </div> <!-- end abstract div -->

    </div> <!-- end pub div -->
  </li>

  <li class="index-text">
    <div id="pub2" class="paper"> <!-- pub div -->

    <div> <!-- paper info div -->
    <span class="paper-title">
    <a href="papers/2010/finifter-weinberger-barth.pdf">Preventing Capability
    Leaks in Secure JavaScript Subsets</a>.
    </span>

    <span class="paper-authors">
      <a href="http://www.eecs.berkeley.edu/~finifter/">Matthew
      Finifter</a>,
      Joel Weinberger, and
      <a href="http://www.adambarth.com">Adam Barth</a>.
    </span>

    <span class="paper-conference">
      In Proc. of Network and Distributed System Security Symposium
      (NDSS), 2010.
    </span>
    </div> <!-- end paper info div -->

    <div> <!-- citation div -->
    <span class="paper-citeseer">
      <a href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.154.8237">
        [CiteSeer]
      </a>
    </span>

    <div id="pub2-bibtex-toggle" class="paper-bibtex-toggle">
      <a id="pub2-bibtex" href="bibtexs/pub2.html">[BibTeX]</a>
      <div id="pub2-bibtex-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('bibtex', 'pub2');
      </script>
    </div>
    </div> <!-- end citation div -->

    <!-- paper notes div -->
    <div class="paper-notes">Visit the
      <a href="http://webblaze.cs.berkeley.edu/2010/blancura/">project page</a>
      for code and more information.
    </div>
    <!-- end paper notes div -->

    <div> <!-- abstract div -->
    <div class="paper-abstract">
      <a id="pub2-abstract" class="icon closed" href="abstracts/pub2.html">Abstract</a>
      <div id="pub2-abstract-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('abstract', 'pub2');
      </script>
    </div>
    </div> <!-- end abstract div -->

    </div> <!-- end pub div -->
  </li>

  <li class="index-text">
    <div id="pub1" class="paper"> <!-- pub div -->

    <div> <!-- paper info div -->
    <span class="paper-title">
    <a href="papers/2009/barth-weinberger-song.pdf">Cross-Origin JavaScript
    Capability Leaks: Detection, Exploitation, and Defense</a>.
    </span>

    <span class="paper-authors">
      <a href="http://www.adambarth.com">Adam Barth</a>,
      Joel Weinberger, and
      <a href="http://www.eecs.berkeley.edu/~dawnsong/">Dawn Song</a>.
    </span>

    <span class="paper-conference">
      In Proc. of USENIX Security Symposium, 2009.
    </span>
    </div> <!-- end paper info div -->

    <div> <!-- citation div -->
    <span class="paper-citeseer">
      <a href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.153.1883">
        [CiteSeer]
      </a>
    </span>

    <div id="pub1-bibtex-toggle" class="paper-bibtex-toggle">
      <a id="pub1-bibtex" href="bibtexs/pub1.html">[BibTeX]</a>
      <div id="pub1-bibtex-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('bibtex', 'pub1');
      </script>
    </div>
    </div> <!-- end citation div -->

    <!-- paper notes div -->
    <div class="paper-notes">Visit the
      <a href="http://webblaze.cs.berkeley.edu/2009/heapgraph/">project page</a>
      for code and more information.
    </div>
    <!-- end paper notes div -->


    <!-- presentation div -->
    <div class="paper-presentation">
      USENIX presentation <a href="files/2009/barth-weinberger-song presentation.pdf">slides</a> (with notes).
    </div>
    <!-- end presentation div -->

    <div> <!-- abstract div -->
    <div class="paper-abstract">
      <a id="pub1-abstract" class="icon closed" href="abstracts/pub1.html">Abstract</a>
      <div id="pub1-abstract-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('abstract', 'pub1');
      </script>
    </div>
    </div> <!-- end abstract div -->

    </div> <!-- end pub div -->
  </li>

  {{#each papers}}
  <li class="index-text">
    <div id="pub{{@index}}" class="paper"> <!-- pub div -->

    <div> <!-- paper info div -->
    <span class="paper-title">
    <a href="{{this.pdf}}">{{this.title}}.</a>
    </span>

    <span class="paper-authors">
      {{#eachauthor this.authors}}<a href="{{escapeAttr this.homepage}}">{{this.name}}</a>{{/eachauthor}}
    </span>

    <span class="paper-conference">{{this.conference}}</span>
    </div> <!-- end paper info div -->

    <div> <!-- citation div -->
    <span class="paper-citeseer">
      <a href="{{this.citeseer}}">[CiteSeer]</a>
    </span>

    <div id="pub{{@index}}-bibtex-toggle" class="paper-bibtex-toggle">
      <a id="pub{{@index}}-bibtex" href="bibtexs/pub{{@index}}.html">[BibTeX]</a>
      <div id="pub{{@index}}-bibtex-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('bibtex', 'pub{{@index}}');
      </script>
    </div>
    </div> <!-- end citation div -->

    <div> <!-- abstract div -->
    <div class="paper-abstract">
      <a id="pub{{@index}}-abstract" class="icon closed" href="abstracts/pub{{@index}}.html">Abstract</a>
      <div id="pub{{@index}}-abstract-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('abstract', 'pub{{@index}}');
      </script>
    </div>
    </div> <!-- end abstract div -->

    </div> <!-- end pub div -->
  </li>
  {{/each}}

</ul>

<h5 class="index-papers-header">
  Non-Refereed Papers
</h5>

<ul class="index-papers-list">
  <li class="index-text">
    <div id="tech2" class="paper"> <!-- tech div -->

    <span class="paper-title">
    <a href="papers/2012/weinberger-thesis.pdf">
    Thesis: Analysis and Enforcement of Web Application Security
    Policies</a>.
    </span>

    <span class="paper-authors">
      Joel Weinberger
    </span>

    <span class="paper-conference">University of California, Berkeley,
    Thesis, 2012.</span>

    <div> <!-- citation div -->
    <div id="tech2-bibtex-toggle" class="paper-bibtex-toggle">
      <a id="tech2-bibtex" href="bibtexs/tech2.html">[BibTeX]</a>
      <div id="tech2-bibtex-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('bibtex', 'tech2');
      </script>
    </div>
    </div> <!-- end citation div -->

    <div> <!-- abstract div -->
    <div class="paper-abstract">
      <a id="tech2-abstract" class="icon closed" href="abstracts/tech2.html">Abstract</a>
      <div id="tech2-abstract-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('abstract', 'tech2');
      </script>
    </div>
    </div> <!-- end abstract div -->

    </div> <!-- end tech div -->
  </li>

  <li class="index-text">
    <div id="tech1" class="paper"> <!-- tech div -->

    <span class="paper-title">
    <a href="papers/2012/swamy-weinberger-chen-livshits-schlesinger.pdf">
    Monadic Refinement Types for Verifying JavaScript Programs</a>.
    </span>

    <span class="paper-authors">
      <a href="http://research.microsoft.com/en-us/people/nswamy/">Nikhil Swamy</a>,
      Joel Weinberger,
      <a href="http://research.microsoft.com/en-us/people/juanchen/">Juan Chen</a>,
      <a href="http://research.microsoft.com/en-us/um/people/livshits/">Ben Livshits</a>, and
      <a href="http://www.cs.princeton.edu/~cschlesi/">Cole Schlesinger</a>
    </span>

    <span class="paper-conference">Microsoft Research Technical Report,
    2012.</span>

    <div> <!-- citation div -->
    <div id="tech1-bibtex-toggle" class="paper-bibtex-toggle">
      <a id="tech1-bibtex" href="bibtexs/tech1.html">[BibTeX]</a>
      <div id="tech1-bibtex-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('bibtex', 'tech1');
      </script>
    </div>
    </div> <!-- end citation div -->

    <div> <!-- abstract div -->
    <div class="paper-abstract">
      <a id="tech1-abstract" class="icon closed" href="abstracts/tech1.html">Abstract</a>
      <div id="tech1-abstract-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('abstract', 'tech1');
      </script>
    </div>
    </div> <!-- end abstract div -->

    </div> <!-- end tech div -->
  </li>

  <li class="index-text">
    <div id="tech0" class="paper"> <!-- tech div -->

    <span class="paper-title">
    <a href="papers/2006/meyerovich-weinberger-gordon-krishnamurthi-tech.pdf">
    ASM Relational Transducer Security Policies</a>.
    </span>

    <span class="paper-authors">
      <a href="http://www.eecs.berkeley.edu/~lmeyerov/">Leo Meyerovich</a>,
      Joel Weinberger,
      <a href="http://www.cs.washington.edu/homes/csgordon/">Colin
      Gordon</a>, and
      <a href="http://www.cs.brown.edu/~sk/">Shriram Krishnamurthi</a>.
    </span>

    <span class="paper-conference">Brown University Technical Report
    CS-06-12, 2006.</span>

    <div> <!-- citation div -->
    <div id="tech0-bibtex-toggle" class="paper-bibtex-toggle">
      <a id="tech0-bibtex" href="bibtexs/tech0.html">[BibTeX]</a>
      <div id="tech0-bibtex-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('bibtex', 'tech0');
      </script>
    </div>
    </div> <!-- end citation div -->

    <div> <!-- abstract div -->
    <div class="paper-abstract">
      <a id="tech0-abstract" class="icon closed" href="abstracts/tech0.html">Abstract</a>
      <div id="tech0-abstract-entry" class="start-hidden"></div>
      <script type="text/javascript">
        attachToggle('abstract', 'tech0');
      </script>
    </div>
    </div> <!-- end abstract div -->

    </div> <!-- end tech div -->
  </li>
</ul>
